<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Edit User</nb-card-header>
            <nb-card-body [nbSpinner]="data_loading" nbSpinnerStatus="info">

                <form [formGroup]="AddUserForm" (ngSubmit)="onSubmit()">

                        <div class="form-group row justify-content-center">
                            <label for="name" class="label col-sm-3 col-form-label"> Name *</label>
                            <div class="col-sm-7">
                                <input nbInput fullWidth type="text" formControlName="name">
                                <ng-container
                                    *ngIf="AddUserForm.controls.name.touched && AddUserForm.controls.name.errors">
                                    <p class="caption status-danger" *ngIf="AddUserForm.controls.name.errors.required">
                                        Name is required</p>
                                </ng-container>
                                <ng-container *ngIf="AddUserForm.get('name').touched && AddUserForm.get('name').errors">
                                    <p class="caption status-danger"
                                        *ngIf="AddUserForm.get('name').hasError('required')">
                                        <!-- Name is required -->
                                    </p>
                                </ng-container>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <label for="mobile" class="label col-sm-3 col-form-label">Phone Number *</label>
                            <div class="col-sm-7">
                                <input nbInput fullWidth type="text" formControlName="mobile">
                                <ng-container
                                    *ngIf="AddUserForm.controls.mobile.touched && AddUserForm.controls.mobile.errors">
                                    <p class="caption status-danger"
                                        *ngIf="AddUserForm.controls.mobile.errors.required">
                                        Phone Number is required</p>
                                </ng-container>
                                <ng-container *ngIf="AddUserForm.get('mobile').hasError('maxlength')">
                                    <p class="caption status-danger">Enter the correct Mobile Number</p>
                                </ng-container>

                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <label for="email" class="label col-sm-3 col-form-label">E-Mail *</label>
                            <div class="col-sm-7">
                                <input nbInput fullWidth type="email" id="email" placeholder="user@example.com"
                                    name="email" minlength="4" maxlength="30" formControlName="email">
                                <ng-container
                                    *ngIf="AddUserForm.controls.email.touched && AddUserForm.controls.email.errors">
                                    <p class="caption status-danger" *ngIf="AddUserForm.controls.email.errors.required">
                                        email is required</p>
                                    <p class="caption status-danger" *ngIf="AddUserForm.controls.email.errors.pattern">
                                        Please enter valid email.</p>
                                </ng-container>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <label for="address" class="label col-sm-3 col-form-label">Address *</label>
                            <div class="col-sm-7">
                                <input nbInput fullWidth type="text" formControlName="address">
                                <ng-container
                                    *ngIf="AddUserForm.controls.address.touched && AddUserForm.controls.address.errors">
                                    <p class="caption status-danger"
                                        *ngIf="AddUserForm.controls.address.errors.required">
                                        Address is required</p>
                                </ng-container>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <label for="pincode" class="label col-sm-3 col-form-label">Pincode *</label>
                            <div class="col-sm-7">
                                <input nbInput fullWidth type="text" formControlName="pincode">
                                <ng-container
                                    *ngIf="AddUserForm.controls.pincode.touched && AddUserForm.controls.pincode.errors">
                                    <p class="caption status-danger"
                                        *ngIf="AddUserForm.controls.pincode.errors.required">
                                        Pincode is required</p>
                                </ng-container>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <label for="password" class="label col-sm-3 col-form-label">Password *</label>
                            <div class="col-sm-7">
                                <input nbInput fullWidth type="text" formControlName="password">
                                <ng-container
                                    *ngIf="AddUserForm.controls.password.touched && AddUserForm.controls.password.errors">
                                    <p class="caption status-danger"
                                        *ngIf="AddUserForm.controls.password.errors.required">
                                        Password is required</p>
                                </ng-container>
                            </div>
                        </div>

                    <div class="form-group row  justify-content-center">
                            <button type="submit" nbButton status="primary"
                                [disabled]="submitted || !AddUserForm.valid">Submit</button>
                            &nbsp;&nbsp;
                            <button nbButton status="danger" (click)="backToUserList()"
                                routerLinkActive="router-link-active"><b>
                                    Cancel
                                </b></button>
                    </div>
                </form>

            </nb-card-body>
        </nb-card>
    </div>
</div>