<!-- <nb-card class="inline-form-card full-card">

    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    <nb-card-header>
        <div class="row">
            <div class="col-md-10"> Company List</div>
            <div class="col-md-2">
                <button class="btn btn-sm btn-success" (click)="createCompany()">Create Company</button>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>

        <div class="card">
            <!-- <h5>Programmatic Control</h5>
            <div class="p-mb-3">
                <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
                <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
                <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button>
            </div> -->
         <!---  <p-table [value]="companies" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [autoLayout]="true"
                [rowsPerPageOptions]="itemsPerPage">
                <ng-template pTemplate="header">
                    <tr>
                        <ng-container *ngFor="let col of columns">
                            <th *ngIf="col.show" [pSortableColumn]="(col.sort==true)? col.field:false"
                                [class]="col.field+'-campaigns'">
                                <p-sortIcon *ngIf="col.sort==true" [field]="col.field" class="sort-icon"
                                    [id]="col.field+'-sort'">
                                </p-sortIcon>
                                <span>{{col.header}}</span>
                            </th>
                        </ng-container>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-company>
                    <tr>
                        <td>{{company.companyId}}</td>
                        <td>{{company.username}}</td>
                        <td>{{company.company_organization}}</td>
                        <td>{{company.number_of_links}}</td>
                        <td>{{company.email}}</td>
                        <td>{{company.active == true ? 'Active' : 'InActive'}}</td>
                        <td class="text-center action">
                            <button (click)="editCompany(company.companyId)" routerLinkActive="router-link-active"
                                nbTooltip="Edit" nbTooltipPlacement="top"
                                class="btn btn-outline-primary btn-sm action-button">
                                <nb-icon icon="edit" pack="eva" class="action-icons"></nb-icon>
                            </button>&nbsp;
                            <button nbTooltip="Delete" (click)="confirmDelete(company.companyId,company.username)"
                                nbTooltipPlacement="top" class="btn btn-outline-danger btn-sm action-button">
                                <nb-icon icon="close" pack="eva" class="action-icons"></nb-icon>
                            </button>&nbsp;
                            <button nbTooltip="Block" (click)="confirmBlockUnBlock(company.companyId,company.username, company.active == true ? 'Block' : 'UnBlock' )"
                                nbTooltipPlacement="top"
                                class='{{company.active ==true ? "btn btn-outline-danger btn-sm action-button":"btn btn-outline-primary btn-sm action-button"}}'>
                                <nb-icon
                                    icon='{{company.active ==true ? "close-circle-outline":"checkmark-circle-2-outline"}}'
                                    pack="eva" class="action-icons"></nb-icon>
                            </button>&nbsp;
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </nb-card-body>


</nb-card> -->

<nb-card class="inline-form-card full-card">

    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    <nb-card-header>
        <div class="row">
            <div class="col-md-10"> Company List</div>
            <div class="col-md-2">
                <button class="btn btn-sm btn-success" (click)="createCompany()">Create Company</button>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>

        <div class="card">
            <p-table [value]="companies" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [autoLayout]="true"
                [rowsPerPageOptions]="itemsPerPage">
                <ng-template pTemplate="header">
                    <tr>
                    <ng-container *ngFor="let col of columns">
                            <th *ngIf="col.show" [pSortableColumn]="(col.sort==true)? col.field:false"
                                [class]="col.field+'-campaigns'">
                                <p-sortIcon *ngIf="col.sort==true" [field]="col.field" class="sort-icon"
                                    [id]="col.field+'-sort'">
                                </p-sortIcon>
                                <span>{{col.header}}</span>
                            </th>
                         </ng-container>
                      <!-- <th>Company ID</th>
                        <th>Username</th>
                        <th>Company Organization</th>
                        <th>Email</th>
                        <th>Contact Person</th>
                        <th>Designation</th>
                        <th>Contact Number</th>
                        <th>Address</th>
                        <th>Remarks</th>
                        <th>Actions</th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-company>
                    <tr>
                        <td>{{company.companyId}}</td>
                        <td>{{company.username}}</td>
                        <td>{{company.company_organization}}</td>
                        <td>{{company.email}}</td>
                        <td>{{company.contact_person}}</td>
                        <td>{{company.userdecsignation}}</td>
                        <td>{{company.contact_number}}</td>
                        <td>{{company.address}}</td>
                        <td>{{company.remarks}}</td>
                        <td>{{company.active == true ? 'Active' : 'InActive'}}</td>
                        <td class="text-center action">
                            <button (click)="editCompany(company.companyId)" routerLinkActive="router-link-active"
                                nbTooltip="Edit" nbTooltipPlacement="top"
                                class="btn btn-outline-primary btn-sm action-button">
                                <nb-icon icon="edit" pack="eva" class="action-icons"></nb-icon>
                            </button>&nbsp;
                            <button nbTooltip="Delete" (click)="confirmDelete(company.companyId,company.username)"
                                nbTooltipPlacement="top" class="btn btn-outline-danger btn-sm action-button">
                                <nb-icon icon="close" pack="eva" class="action-icons"></nb-icon>
                            </button>&nbsp;
                            <button nbTooltip="Block" (click)="confirmBlockUnBlock(company.companyId,company.username, company.active == true ? 'Block' : 'UnBlock' )"
                                nbTooltipPlacement="top"
                                class='{{company.active ==true ? "btn btn-outline-danger btn-sm action-button":"btn btn-outline-primary btn-sm action-button"}}'>
                                <nb-icon
                                    icon='{{company.active ==true ? "close-circle-outline":"checkmark-circle-2-outline"}}'
                                    pack="eva" class="action-icons"></nb-icon>
                            </button>&nbsp;
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </nb-card-body>
</nb-card>
