<nb-card class="inline-form-card full-card">

    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    <nb-card-header>
        <div class="row">
            <div class="col-md-12 text-center bold-text">User Register List</div>
            <!-- <div class="col-md-2">
                <button class="btn btn-sm btn-success" (click)="createUser()">Create User</button>
            </div> -->
        </div>
    </nb-card-header>

    <nb-card-body>

        <div class="card">
            <p-table [value]="users" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [autoLayout]="true"
                [rowsPerPageOptions]="itemsPerPage">
                <ng-template pTemplate="header">
                    <tr>
                        <ng-container *ngFor="let col of columns">
                            <th *ngIf="col.show" [pSortableColumn]="(col.sort==true)? col.field:false"
                                [class]="col.field+'-campaigns'" class="text-center">
                                <p-sortIcon *ngIf="col.sort==true" [field]="col.field" class="sort-icon"
                                    [id]="col.field+'-sort'">
                                </p-sortIcon>
                                <span>{{col.header}}</span>
                            </th>
                        </ng-container>
                        <th class="text-center">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td class="text-center">{{user.name}}</td>
                        <td class="text-center" style="width: 18%;">{{user.mobile}}</td>
                        <td class="text-center">{{user.email}}</td>
                        <td class="text-center">{{user.address}}</td>
                        <td class="text-center">{{user.status}}</td>
                        <!-- <td class="text-center">{{user.active == true ? 'Active' : 'InActive'}}</td> -->
                        <td class="text-center action">
                            <button (click)="approvalUser(user)" routerLinkActive="router-link-active"
                                nbTooltip="Approval" nbTooltipPlacement="top"
                                class="btn btn-outline-success btn-sm action-button">
                                <nb-icon icon="checkmark-circle-2-outline" pack="eva" class="action-icons"></nb-icon>
                            </button>&nbsp;&nbsp;
                            <button (click)="declinedUser(user)" routerLinkActive="router-link-active"
                                nbTooltip="Declined" nbTooltipPlacement="top"
                                class="btn btn-outline-danger btn-sm action-button">
                                <nb-icon icon="close-circle-outline" pack="eva" class="action-icons"></nb-icon>
                            </button>

                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <!-- <ngx-approval-confirm *ngIf="showApprovalDialog" (close)="showApprovalDialog = false"></ngx-approval-confirm> -->
    </nb-card-body>
</nb-card>