<!-- <form [formGroup]="form">
      <label for="name">Name:</label>
      <input type="text" formControlName="name" />
      <div *ngFor="let result of results" (click)="selectResult(result)">
        {{ result.idAndName }}
      </div>
    </form> -->
<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header class="text-center bold-text">{{page_title}}</nb-card-header>
            <nb-card-body [nbSpinner]="data_loading" nbSpinnerStatus="info">

                <form [formGroup]="AddUserForm" (ngSubmit)="onSubmit()">

                    <div class="form-group row">
                        <label for="name" class="label col-sm-3 col-form-label"> Name *</label>
                        <div class="col-sm-9">
                            <span class="p-fluid">
                                <p-autoComplete formControlName="name" [suggestions]="results" [forceSelection]="true"
                                    (completeMethod)="onNameInputChange($event)" [minLength]="3"
                                    placeholder=" Type to search the Bestperformer name">
                                </p-autoComplete>
                            </span>
                            <ng-container *ngIf="AddUserForm.controls.name.touched && AddUserForm.controls.name.errors">
                                <p class="caption status-danger" *ngIf="AddUserForm.controls.name.errors.required">
                                    Name is required / Only select search User Name</p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="sales" class="label col-sm-3 col-form-label">Sale *</label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="text" formControlName="sales">
                            <ng-container
                                *ngIf="AddUserForm.controls.sales.touched && AddUserForm.controls.sales.errors">
                                <p class="caption status-danger" *ngIf="AddUserForm.controls.sales.errors.required">
                                    Sale is required</p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="remarks" class="label col-sm-3 col-form-label">Remarks *</label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="text" formControlName="remarks">
                            <ng-container
                                *ngIf="AddUserForm.controls.remarks.touched && AddUserForm.controls.remarks.errors">
                                <p class="caption status-danger" *ngIf="AddUserForm.controls.remarks.errors.required">
                                    Remarks is required</p>
                            </ng-container>
                            <ng-container *ngIf="AddUserForm.get('remarks').hasError('maxlength')">
                                <p class="caption status-danger">Remarks should not exceed 100 characters</p>
                            </ng-container>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="fdate" class="label col-sm-3 col-form-label">From Date *</label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth [nbDatepicker]="fromDatepicker" formControlName="fdate">
                            <nb-datepicker #fromDatepicker></nb-datepicker>
                            <ng-container
                                *ngIf="AddUserForm.controls.fdate.touched && AddUserForm.controls.fdate.errors">
                                <p class="caption status-danger" *ngIf="AddUserForm.controls.fdate.errors.required">
                                    From Date is required </p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="tdate" class="label col-sm-3 col-form-label">To Date *</label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth [nbDatepicker]="toDatepicker" formControlName="tdate">
                            <nb-datepicker #toDatepicker></nb-datepicker>
                            <ng-container
                                *ngIf="AddUserForm.controls.tdate.touched && AddUserForm.controls.tdate.errors">
                                <p class="caption status-danger" *ngIf="AddUserForm.controls.tdate.errors.required">
                                    To Date is required </p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" nbButton status="primary"
                                [disabled]="submitted || !AddUserForm.valid || data_loading">Submit</button>
                            &nbsp;&nbsp;
                            <button nbButton status="danger" (click)="backToUserList()"
                                routerLinkActive="router-link-active"><b>
                                    Cancel
                                </b></button>
                        </div>
                    </div>
                </form>

            </nb-card-body>
        </nb-card>
    </div>
</div>