
.image-preview {
  width: 140px;
  height: 140px;
  display: flex;
  border-radius:10%;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0; /* Set a background color for the preview area */
  border: 1px solid #ccc; /* Optional: Add a border */
}

.image-preview i.fa {
  font-size: 50px; /* Adjust the font size of the image icon */
  color: #555; /* Optional: Set the icon color */  
}
