<!-- <div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>{{page_title}}</nb-card-header>
            <nb-card-body [nbSpinner]="data_loading" nbSpinnerStatus="info">

                <form [formGroup]="AddCompanyForm" (ngSubmit)="onSubmit()">

<div class="form-group row">
    <label for="company_organization" class="label col-sm-3 col-form-label">
        Company / Organisation *
    </label>
    <div class="col-sm-9">
        <div class="input-container">
            <input nbInput fullWidth type="text" formControlName="company_organization">
            <nb-icon nbPrefix icon="briefcase-outline" pack="eva" class="icon"></nb-icon>
        </div>
        <ng-container *ngIf="AddCompanyForm.controls.company_organization.touched && AddCompanyForm.controls.company_organization.errors">
            <p class="caption status-danger" *ngIf="AddCompanyForm.controls.company_organization.errors.required">
                Company Name / Organisation is required
            </p>
        </ng-container>
    </div>
</div>

                     <div class="form-group row">
                        <label for="display_name" class="label col-sm-3 col-form-label">Display Name *</label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="text" formControlName="display_name">
                            <ng-container *ngIf="AddCompanyForm.controls.display_name.touched && AddCompanyForm.controls.display_name.errors">
                                <p class="caption status-danger" *ngIf="AddCompanyForm.controls.display_name.errors.required">
                                    Display Name is required</p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="contact_person" class="label col-sm-3 col-form-label">Contact Person *</label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="text" formControlName="contact_person">
                            <ng-container *ngIf="AddCompanyForm.controls.contact_person.touched && AddCompanyForm.controls.contact_person.errors">
                                <p class="caption status-danger" *ngIf="AddCompanyForm.controls.contact_person.errors.required">
                                    Contact Person is required</p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="decsignation" class="label col-sm-3 col-form-label">Decsignation *</label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="text" formControlName="decsignation">
                            <ng-container *ngIf="AddCompanyForm.controls.decsignation.touched && AddCompanyForm.controls.decsignation.errors">
                                <p class="caption status-danger" *ngIf="AddCompanyForm.controls.decsignation.errors.required">
                                    Decsignation is required</p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="contact_number" class="label col-sm-3 col-form-label">Contact Number *</label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="text" formControlName="contact_number">
                            <ng-container *ngIf="AddCompanyForm.controls.contact_number.touched && AddCompanyForm.controls.contact_number.errors">
                                <p class="caption status-danger" *ngIf="AddCompanyForm.controls.contact_number.errors.required">
                                    Contact Number is required</p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email" class="label col-sm-3 col-form-label">E-Mail *</label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="email" id="email" placeholder="user@example.com"
                                name="email" minlength="4" maxlength="30" formControlName="email">
                            <ng-container *ngIf="AddCompanyForm.controls.email.touched && AddCompanyForm.controls.email.errors">
                                <p class="caption status-danger" *ngIf="AddCompanyForm.controls.email.errors.required">
                                    email is required</p>
                                <p class="caption status-danger" *ngIf="AddCompanyForm.controls.email.errors.pattern">
                                    Please enter valid email.</p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="address" class="label col-sm-3 col-form-label">Address *</label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="text" formControlName="address">
                            <ng-container *ngIf="AddCompanyForm.controls.address.touched && AddCompanyForm.controls.address.errors">
                                <p class="caption status-danger" *ngIf="AddCompanyForm.controls.address.errors.required">
                                    Address is required</p>
                            </ng-container>
                        </div>
                    </div>
                    
                     <div class="form-group row">
                        <label for="district" class="label col-sm-3 col-form-label">District *</label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="text" formControlName="district">
                            <ng-container *ngIf="AddCompanyForm.controls.district.touched && AddCompanyForm.controls.district.errors">
                                <p class="caption status-danger" *ngIf="AddCompanyForm.controls.district.errors.required">
                                    District is required</p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="state" class="label col-sm-3 col-form-label">State *</label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="text" formControlName="state">
                            <ng-container *ngIf="AddCompanyForm.controls.state.touched && AddCompanyForm.controls.state.errors">
                                <p class="caption status-danger" *ngIf="AddCompanyForm.controls.state.errors.required">
                                    State is required</p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="form-group row">
                       <label for="logo" class="label col-sm-3 col-form-label">Logo</label>
                       <div class="col-sm-9">
                           <input type="file" accept="image/*" (change)="onFileChange($event, 'logo')" />
                           <!-- Display the uploaded logo here 
                           <img [src]="logo" width="60" height="60" alt="Logo" *ngIf="logoUploadFile" />
                       </div>
                    </div>

                     <div class="form-group row">
                        <label for="user_name" class="label col-sm-3 col-form-label">User Name *</label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="text" formControlName="user_name">
                            <ng-container *ngIf="AddCompanyForm.controls.user_name.touched && AddCompanyForm.controls.user_name.errors">
                                <p class="caption status-danger" *ngIf="AddCompanyForm.controls.user_name.errors.required">
                                   User Name is required</p>
                            </ng-container>
                        </div>
                    </div>
    
                    <div class="form-group row">
                        <label for="password" class="label col-sm-3 col-form-label">Password *</label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="text" formControlName="password">
                            <ng-container *ngIf="AddCompanyForm.controls.password.touched && AddCompanyForm.controls.password.errors">
                                <p class="caption status-danger" *ngIf="AddCompanyForm.controls.password.errors.required">
                                   Password is required</p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="confirm_password" class="label col-sm-3 col-form-label">Confirm Password *</label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="text" formControlName="confirm_password">
                            <ng-container *ngIf="AddCompanyForm.controls.confirm_password.touched && AddCompanyForm.controls.confirm_password.errors">
                                <p class="caption status-danger" *ngIf="AddCompanyForm.controls.confirm_password.errors.required">
                                    Confirm Password is required</p>
                            </ng-container>
                        </div>
                    </div> 

                    <div class="form-group row">
                        <label for="remarks" class="label col-sm-3 col-form-label">Remarks *</label>
                        <div class="col-sm-9">
                            <input nbInput fullWidth type="text" formControlName="remarks">
                            <ng-container *ngIf="AddCompanyForm.controls.remarks.touched && AddCompanyForm.controls.remarks.errors">
                                <p class="caption status-danger" *ngIf="AddCompanyForm.controls.remarks.errors.required">
                                    Remarks is required</p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-9">
                            <button type="submit" nbButton status="primary"
                                [disabled]="submitted || !AddCompanyForm.valid">Submit</button>
                            &nbsp;&nbsp;
                            <button nbButton status="danger" (click)="backToCompanyList()"
                                routerLinkActive="router-link-active"><b>
                                    Cancel
                                </b></button>
                        </div>
                    </div>
                </form>

            </nb-card-body>
        </nb-card>
    </div>
</div>
 -->


<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>{{page_title}}</nb-card-header>
            <nb-card-body [nbSpinner]="data_loading" nbSpinnerStatus="info">

                <form [formGroup]="AddCompanyForm" (ngSubmit)="onSubmit()">

                 <div class="row">
                   <div class="col-md-3">
                     <!-- Right side: Logo -->
                      <div class="form-group">
                        <div class="image-preview" *ngIf="!logoUploadFile">
                          <i class="fa fa-image"></i>
                        </div>
                          <!-- Display an image icon when no image is selected -->
                          <img [src]="logo" width="140" height="140" alt="Logo" *ngIf="logoUploadFile" style="border-radius: 10%;" />
                      </div>
                   </div>

                    <!-- Choose logo File Input -->
                   <div class="col-md-3">
                      <div class="form-group">
                        <label for="logo" class="label ">Logo Upload</label>
                        <input nbInput fullWidth type="file" accept="image/*"  (change)="onFileChange($event, 'logo')" />
                      </div>
                   </div> 

                    <div class="col-md-3">
                      <!-- Left side: Company Info and Choose File ., Company Name / Organisation , Display Name   -->
                        <div class="form-group">
                          <label for="company_organization" class="label "> Company Name / Organisation * </label>
                           <nb-form-field>
                             <input nbInput fullWidth  type="text" formControlName="company_organization">
                             <nb-icon nbPrefix icon="award-outline" pack="eva" class="icon"></nb-icon>
                           </nb-form-field>
                          <ng-container *ngIf="AddCompanyForm.controls.company_organization.touched && AddCompanyForm.controls.company_organization.errors">
                           <p class="caption status-danger" *ngIf="AddCompanyForm.controls.company_organization.errors.required">
                             Company / Organisation is required </p>
                          </ng-container>
                        </div> 

                        <div class="form-group ">
                          <label for="display_name" class="label ">Display Name *</label>
                            <nb-form-field>
                              <input nbInput fullWidth type="text" formControlName="display_name">
                              <nb-icon nbPrefix icon="person-outline" pack="eva" class="icon"></nb-icon>
                            </nb-form-field>
                            <ng-container *ngIf="AddCompanyForm.controls.display_name.touched && AddCompanyForm.controls.display_name.errors">
                                <p class="caption status-danger" *ngIf="AddCompanyForm.controls.display_name.errors.required">
                                    Display Name is required </p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <!-- Contact Person , Decsignation -->
                       <div class="form-group ">
                          <label for="contact_person" class="label ">Contact Person *</label>
                            <nb-form-field>
                              <input nbInput fullWidth type="text" formControlName="contact_person">
                              <nb-icon nbPrefix icon="phone-call-outline" pack="eva" class="icon"></nb-icon>
                            </nb-form-field>
                            <ng-container *ngIf="AddCompanyForm.controls.contact_person.touched && AddCompanyForm.controls.contact_person.errors">
                                <p class="caption status-danger" *ngIf="AddCompanyForm.controls.contact_person.errors.required">
                                 Contact Person is required </p>
                            </ng-container>
                       </div>

                       <div class="form-group ">
                          <label for="decsignation" class="label ">Decsignation *</label>
                            <nb-form-field>
                              <input nbInput fullWidth type="text" formControlName="decsignation">
                              <nb-icon nbPrefix icon="briefcase-outline" pack="eva" class="icon"></nb-icon>
                            </nb-form-field>
                            <ng-container *ngIf="AddCompanyForm.controls.decsignation.touched && AddCompanyForm.controls.decsignation.errors">
                                <p class="caption status-danger" *ngIf="AddCompanyForm.controls.decsignation.errors.required">
                                 Decsignation is required</p>
                            </ng-container>
                        </div>
                    </div>
                 </div>

                  <!-- Full Width: Address -->
                 <div class="form-group row">
                   <label for="address" class="label col-sm-2 col-form-label ">Address *</label>
                     <div class="col-md-10"> 
                       <nb-form-field>
                          <input nbInput fullWidth  shape="semi-round" type="text" formControlName="address" >
                          <nb-icon nbPrefix icon="home-outline" pack="eva" class="icon"></nb-icon>
                       </nb-form-field>
                       <ng-container *ngIf="AddCompanyForm.controls.address.touched && AddCompanyForm.controls.address.errors">
                         <p class="caption status-danger" *ngIf="AddCompanyForm.controls.address.errors.required">
                          Address is required</p>
                        </ng-container>  
                     </div>
                 </div>

                       <!-- User Name, E-Mail, Contact Number and District in One row -->
                 <div class="row">
                    <div class="col-md-3">
                       <div class="form-group ">
                         <label for="user_name" class="label ">User Name *</label>
                          <nb-form-field>
                            <input nbInput fullWidth  type="text" formControlName="user_name" >
                            <nb-icon nbPrefix icon="person-done-outline" pack="eva" class="icon"></nb-icon>
                          </nb-form-field>    
                          <ng-container *ngIf="AddCompanyForm.controls.user_name.touched && AddCompanyForm.controls.user_name.errors">
                            <p class="caption status-danger" *ngIf="AddCompanyForm.controls.user_name.errors.required">
                            User Name is required</p>
                          </ng-container>
                        </div>
                    </div>

                    <div class="col-md-3">
                       <div class="form-group ">
                         <label for="email" class="label ">E-Mail *</label>
                          <nb-form-field>
                            <input nbInput fullWidth type="email" id="email" placeholder="user@example.com"
                             name="email" minlength="4" maxlength="30" formControlName="email">
                            <nb-icon nbPrefix icon="at-outline" pack="eva" class="icon"></nb-icon>
                          </nb-form-field>
                            <ng-container *ngIf="AddCompanyForm.controls.email.touched && AddCompanyForm.controls.email.errors">
                                <p class="caption status-danger" *ngIf="AddCompanyForm.controls.email.errors.required">
                                    email is required</p>
                                <p class="caption status-danger" *ngIf="AddCompanyForm.controls.email.errors.pattern">
                                    Please enter valid email.</p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="col-md-3">
                       <div class="form-group ">
                         <label for="contact_number" class="label ">Contact Number *</label>
                          <nb-form-field>
                            <input nbInput fullWidth type="text" formControlName="contact_number">
                            <nb-icon nbPrefix icon="phone-outline" pack="eva" class="icon"></nb-icon>
                          </nb-form-field>
                           <ng-container *ngIf="AddCompanyForm.controls.contact_number.touched && AddCompanyForm.controls.contact_number.errors">
                             <p class="caption status-danger" *ngIf="AddCompanyForm.controls.contact_number.errors.required">
                              Contact Number is required</p>
                            </ng-container>
                        </div>
                    </div>
                    
                    <div class="col-sm-3">
                        <div class="form-group ">
                         <label for="district" class="label ">District *</label>
                          <nb-form-field>
                            <input nbInput fullWidth type="text" formControlName="district">
                            <nb-icon nbPrefix icon="pin-outline" pack="eva" class="icon"></nb-icon>
                          </nb-form-field>
                            <ng-container *ngIf="AddCompanyForm.controls.district.touched && AddCompanyForm.controls.district.errors">
                              <p class="caption status-danger" *ngIf="AddCompanyForm.controls.district.errors.required">
                                District is required </p>
                            </ng-container>
                        </div>
                    </div>
                 </div>

                 <!-- State, Password, Confirm Password ,Remarks in One Row -->
                 <div class="row">   
                    <div class="col-sm-3">
                        <div class="form-group ">
                         <label for="password" class="label ">Password *</label>
                            <nb-form-field>
                             <input nbInput fullWidth  [type]="getInputType()" formControlName="password" >
                              <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
                                 <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-outline'"
                                  pack="eva"
                                  [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                                 </nb-icon>
                              </button>
                           </nb-form-field>                        
                            <ng-container *ngIf="AddCompanyForm.controls.password.touched && AddCompanyForm.controls.password.errors">
                               <p class="caption status-danger" *ngIf="AddCompanyForm.controls.password.errors.required">
                                Password is required</p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group ">
                         <label for="confirm_password" class="label ">Confirm Password *</label>
                           <nb-form-field>
                             <input nbInput fullWidth  [type]="getInputType()" formControlName="confirm_password" >
                              <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
                                 <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-outline'"
                                  pack="eva"
                                  [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                                 </nb-icon>
                              </button>
                           </nb-form-field>
                            <ng-container *ngIf="AddCompanyForm.controls.confirm_password.touched && AddCompanyForm.controls.confirm_password.errors">
                                <p class="caption status-danger" *ngIf="AddCompanyForm.controls.confirm_password.errors.required">
                                Confirm Password is required</p>
                            </ng-container>
                        </div>
                    </div> 

                    <div class="col-sm-3">       
                        <div class="form-group ">
                         <label for="state" class="label ">State *</label>
                          <nb-form-field>
                            <input nbInput fullWidth type="text" formControlName="state">
                            <nb-icon nbPrefix icon="pin-outline" pack="eva" class="icon"></nb-icon>
                          </nb-form-field>
                            <ng-container *ngIf="AddCompanyForm.controls.state.touched && AddCompanyForm.controls.state.errors">
                               <p class="caption status-danger" *ngIf="AddCompanyForm.controls.state.errors.required">
                                State is required </p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group ">
                         <label for="remarks" class="label ">Remarks *</label>
                          <nb-form-field>
                            <input nbInput fullWidth type="text" formControlName="remarks">
                            <nb-icon nbPrefix icon="star-outline" pack="eva" class="icon"></nb-icon>
                          </nb-form-field>                       
                            <ng-container *ngIf="AddCompanyForm.controls.remarks.touched && AddCompanyForm.controls.remarks.errors">
                              <p class="caption status-danger" *ngIf="AddCompanyForm.controls.remarks.errors.required">
                               Remarks is required</p>
                            </ng-container>
                        </div>
                    </div>
                 </div>

                    <div class="form-group row">
                        <div class="offset-sm-9 col-sm-9">
                            <button type="submit" nbButton status="primary"
                                [disabled]="submitted || !AddCompanyForm.valid">Submit</button>
                            &nbsp;&nbsp;
                            <button nbButton status="danger" (click)="backToCompanyList()"
                                routerLinkActive="router-link-active"><b>
                                    Cancel
                                </b></button>
                        </div>
                    </div>
                </form>

            </nb-card-body>
        </nb-card>
    </div>
</div>
